<a href="https://colab.research.google.com/github/Kzis/my-saprk/blob/main/my_spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Initial Spark**

In [31]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [32]:
!wget -q https://archive.apache.org/dist/spark/spark-3.0.0/spark-3.0.0-bin-hadoop3.2.tgz

In [33]:
!tar xf spark-3.0.0-bin-hadoop3.2.tgz

In [34]:
!pip install -q findspark

In [35]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-bin-hadoop3.2"

In [36]:
import findspark
findspark.init()

In [37]:
findspark.find()

'/content/spark-3.0.0-bin-hadoop3.2'

In [38]:
from pyspark.sql import SparkSession

spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

In [39]:
spark

# **Spark DataFrame Basics**

In [40]:
df = spark.read.json('people.json')

In [41]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [42]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [43]:
df.columns

['age', 'name']

In [44]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [45]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [51]:
from pyspark.sql.types import (StructField, StringType, IntegerType, StructType)

In [52]:
data_schema = [StructField('age',IntegerType(),True),
               StructField('name',StringType(),True) ]

In [53]:
final_struc = StructType(fields=data_schema)

In [54]:
df = spark.read.json('people.json',schema=final_struc)

In [55]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

# type , select , head

In [56]:
df['age']

Column<b'age'>

In [57]:
type(df['age'])

pyspark.sql.column.Column

In [58]:
df.select('age')

DataFrame[age: int]

In [60]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [59]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [65]:
df.select(['age','name'])

DataFrame[age: int, name: string]

In [66]:
type(df.select(['age','name']))

pyspark.sql.dataframe.DataFrame

In [67]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [61]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [63]:
type(df.head(2))

list

In [62]:
df.head(2)[0]

Row(age=None, name='Michael')

In [64]:
type(df.head(2)[0])

pyspark.sql.types.Row

# column

In [68]:
df.withColumn('newage',df['age']).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    30|
|  19| Justin|    19|
+----+-------+------+

In [69]:
df.withColumn('double_age',df['age']*2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [70]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [71]:
df.withColumnRenamed('age','my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

# TempView

In [80]:
df.createOrReplaceTempView('people')

In [81]:
results = spark.sql("SELECT * FROM people")

In [82]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [83]:
new_results = spark.sql("SELECT * FROM people WHERE age=30")

In [84]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+

# **Spark DataFrame Basics Operations**

# **Groupby and Aggregate Operations**

# **Missing Data**

# **Dates and Timestamps**